.about-section {
  background-color: var(--secondary-color);
  position: relative;
}

.about-section .ratio {
  border-radius: var(--border-radius-medium);
}

.custom-video {
  border-radius: var(--border-radius-medium);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-image-wrap {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.about-video-info {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.15),
    rgba(188, 108, 37, 1)
  );
  border-radius: var(--border-radius-medium);
  bottom: 0;
  height: auto;
  padding: 50px;
}

.about-video-info h4 {
  color: var(--white-color);
}

.about-section h6 {
  color: var(--secondary-color);
}

.hover-shake:hover {
  animation: pulse 1s ease;
}
